/*Main page style*/
h1.main-page {
    font-size: 48px;
    color: #07d0ef;
    font-weight: bolder;
    text-align: center;
    font-family: "times new roman", "brush script mt",arial, sans-serif;
    background-color: rgba(1, 2, 15, 0.683);

}

body.main-page {
    text-align: center;
}

img.main-page {
    height: auto;
    width: 400px;
}

a {
    font-size: 24px;
}


/*Pasta page style*/
.page-header {
    color: #09782c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px; 
}

.pasta-page {
    color: #03573f;
    font-family: Arial, Helvetica, sans-serif;
    
}

img.pasta-page {
    height: auto;
    width: 425px;
}

.pasta-page-list {
    background-color: rgb(250, 225, 195);
}


/*Cosmopolitan page style*/
#cosmo-header {
    color: #ff0000;
    font-family: "courier new";
    font-size: 44px;
}

.cosmo-page h3 ,.cosmo-page h4 {
    color: rgb(208, 255, 0);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f6f6f6
}

.cosmo-page {
    color: #930505;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cosmo-list {
    background-color: #fac4c4;
}


/*Chocolate chip cookies style*/

#cookies-page-header {
    color: hsl(20, 70%, 55%);
    background-color: rgb(34, 7, 7);
    font-size: 38px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}

#cookies-image {
    height: 400px;
    width: 400px;
}

.cookies-page h3,h4 {
    background-color: rgb(223, 190, 106);
    font-size: 22px;
}

.cookies-page {
    font-family:'Arial Narrow', Arial, sans-serif;
}

.cookies-page ol, ul {
    font-size: 18x;
    background-color: rgb(240, 224, 192);
}