/*Main page style*/
h1.main-page {
    font-size: 48px;
    color: #07d0ef;
    font-weight: bolder;
    text-align: center;
    font-family: "times new roman", "brush script mt",arial, sans-serif;
    background-color: rgba(1, 2, 15, 0.683);

}

body.main-page {
    text-align: center;
}

img.main-page {
    height: auto;
    width: 400px;
}

a {
    font-size: 24px;
}


/*Pasta page style*/
.page-header {
    color: #09782c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px; 
}

.pasta-page {
    color: #03573f;
    font-family: Arial, Helvetica, sans-serif;
    
}

img.pasta-page {
    height: auto;
    width: 425px;
}

.pasta-page-list {
    background-color: rgb(250, 225, 195);
}


